<form #fillForm="ngForm">
  <input type="text" placeholder="Employee Name" [(ngModel)]="employeeName" name="employeeName" />
  <button (click)="addEmp()">Add Employee</button>
</form>
<table>
  <thead>
    <tr>
      <th class="emp-head">Employee</th>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
  </thead>
  <tbody *ngFor="let row of employees">
    <tr>
      <td>{{ row.name }}</td>
      <td>x</td>
      <td>{{ row.mon }}</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
      <td>x</td>
      <td>
          <button (click)="removeEmp()">Remove Employee</button>
      </td>
    </tr>
  </tbody>
</table>
